@inherits Umbraco.Web.Mvc.UmbracoViewPage

<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col text-center py-4">
                <ul class="list-inline-item">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/marekprideheart" target="_blank" title="Follow me on twitter">
                            <i class="fab fa-twitter fa-2x text-white"></i>
                        </a>
                    </li>
                </ul>
                <p class="text-white">Copyright &copy; @DateTime.Now.Year Umbraco Developed</p>
            </div>
        </div>
    </div>
</footer>